body{
    background-color: #f5f5f5;
}
.west{
    margin-top: 10%;
    margin-left: 43%;
    margin-right: 40%;
}
input.mopo{
    margin-left: 40%;
    margin-right: 35%;
    width: 20%;
    height: 20%;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
/* .dif{width: auto; height: auto; margin: auto; background-color:;} */
input[type=text]:focus, input[type=password]:focus {
    /* background-color: #ddd; */
    font-size: 16px;
    background-color: skyblue;
    /* border: 1px solid blueviolet; */
    outline: 1px solid blue;
  }
input[type=checkbox]{
    padding-left: 0px;
     margin-left: 550px;
    /* margin-right: 75%;  */
    /* padding-right: 80px; */
}
input[type=submit]{
    margin-left: 40%;
    margin-right: 35%;
    width: 23%;
    height: 20%;
    text-align: center;
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    background-color:blue;
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
    opacity: 0.9;
}
a{
    margin-left: 45%;
    margin-right: 25%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}
a:hover{
    text-decoration: underline;
}
#kemi{
    margin-left: 50%;
}
@media screen and (max-width: 600px) {
    input.mopo{
        margin-left: 30%;
        margin-right: 35%;
        width: 40%;
        height: 20%;
        padding: 15px;
    }
    input[type=submit]{
        margin-left: 30%;
        margin-right: 35%;
        width: 50%;
        height: 20%;
    }
    .west{
        margin-top: 10%;
        margin-left: 35%;
        margin-right: 40%;
    }
    p{
        padding-left: 30%;
    }
    input[type=checkbox]{
        padding-left: 0px;
         margin-left: 200px;
    }
    a{
        text-align: center;
        margin-left: 40%;
    }
}